@CHARSET "ISO-8859-1";

/*
    To get section/fieldset to float left or right
*/
.ebcol1 {
    float:left;
    clear:left;
    width: 49%;
}

.ebcol2 {
    float:right;
    clear:right;
    width: 49%;
}

.section {
   background-color: #E6F2FF;
   border:solid 1px #114561;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   margin: 0px 0px 15px 0px;
   padding: 5px 10px 5px 10px;
}

/* == Joint replacement CSS == */
.width100 { width:100%; }
.width40 { width:40%; }
.width20 { width:20%; }

.headerText {
	text-align: left;
}

.noBorder { border:1px solid #E6F2FF; }

.tdPadding { padding-bottom: 55px; }
/* ========================= */